// This is an example file.
// Copy this file to env.h and fill in your actual credentials.
// env.h is ignored by git.

#ifndef ENV_H
#define ENV_H

#define WIFI_SSID           "YOUR_WIFI_SSID"
#define WIFI_PASSWORD       "YOUR_WIFI_PASSWORD"

#define MQTT_SERVER         "YOUR_MQTT_BROKER_IP" // Or hostname
#define MQTT_USERNAME       "YOUR_MQTT_USERNAME"
#define MQTT_PASSWORD       "YOUR_MQTT_PASSWORD"

// 16-byte Secret Key for SipHash (comma-separated hex values)
#define SECRET_KEY_BYTES    0x00, 0x01, 0x02, 0x03, 0x04, 0x05, 0x06, 0x07, 0x08, 0x09, 0x0a, 0x0b, 0x0c, 0x0d, 0x0e, 0x0f

#endif // ENV_H
